[data-md-color-scheme="coq"] {
  --md-primary-fg-color:        #4CAF50; /* green-500 */
  --md-primary-fg-color--light: #66BB6A; /* green-400 */
  --md-primary-fg-color--dark:  #2E7D32; /* green-700 */
}
  
[data-md-color-scheme=default] .mdx-container {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--md-primary-fg-color), #2E7D32 99%, var(--md-default-bg-color) 99%);
    padding-top: 1rem
}

[data-md-color-scheme=coq] .mdx-container {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(232, 15%, 21%, 1)' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--md-primary-fg-color), #2E7D32 99%, var(--md-default-bg-color) 99%)
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  fill: #FFF;
  display: block;
  height: 2rem;
  width: auto;
}

.md-content {
  text-align: justify;
}